#footer-background{
  background-color:  rgb(45, 7, 105);
  color: #fff;
}
ul{
  list-style-type: none;
  float: right;
  li{
    float: right;
  }
}
#logo-footer-logo{
  padding: 25px;
  color: #fff;
}
