<!-- <section>
  <footer class="footer0">
    <ul>
      <li><a href="#contato">
          <h5>Contato</h5>
        </a></li>
      <li><a href="#enquete">
          <h5>Enquete</h5>
        </a></li>
      <li><a href="#fala-cidadao">
          <h5>Fala Cidadão</h5>
        </a></li>
      <li><a href="#atuacao">
          <h5>Atuação</h5>
        </a></li>
      <li><a href="#biografia">
          <h5>Biografia</h5>
        </a></li>
      <li><a class="active" href="#home">
          <h5>Home</h5>
        </a></li>
      <li><img id="logo" src="/assets/images/logo.png"></li>
    </ul>
  </footer>
  <nav class="topnav">
    <ul>
      <li><a class="medialink" target="_blank" href="https://www.instagram.com/alex.redano/"><img class="media"
            src="/assets/images/nav/whatsapp.png"></a></li>
      <li><a class="medialink" target="_blank" href="https://www.instagram.com/alex.redano/"><img class="media"
            src="/assets/images/nav/instagram.png"></a></li>

      <li><a class="medialink" target="_blank" href="#"><img class="media" src="/assets/images/nav/twitter.png"></a>
      </li>
      <li><a class="medialink" target="_blank" href="https://www.facebook.com/alex.redano/">
          <i class="fa fa-facebook" aria-hidden="true">
          </i>
        </a>
      </li>
    </ul>

  </nav>
</section> -->
<section id="footer-background">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xl-3 ">
          <img id="logo-footer-logo" src="/assets/images/logo-branca.png">
        </div>
        <div class="col-sm-9 col-xl-9">
          <ul id="links-header">
            <li><a href="#contato">
                <span>Contato</span>
              </a></li>
            <li><a href="#enquete">
                <span>Enquete</span>
              </a></li>
            <li><a href="#fala-cidadao">
                <span>Fala Cidadão</span>
              </a></li>
            <li><a href="#atuacao">
                <span>Atuação</span>
              </a></li>
            <li><a href="#biografia">
                <span>Biografia</span>
              </a></li>
            <li><a class="active" href="#home">
                <span>Home</span>
              </a></li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <th></th>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-6 ">
          <span class="direitos">2020 Todos os direitos reservados | Desenvolvido por Polezite</span>
        </div>
        <div class="col-sm-6 col-xl-6 ">
          <ul>
            <li><a class="medialink" target="_blank" href="https://www.instagram.com/alex.redano/"><img class="media"
                  src="/assets/images/nav/whatsapp.png"></a></li>
            <li><a class="medialink" target="_blank" href="https://www.instagram.com/alex.redano/"><img class="media"
                  src="/assets/images/nav/instagram.png"></a></li>

            <li><a class="medialink" target="_blank" href="#"><img class="media"
                  src="/assets/images/nav/twitter.png"></a>
            </li>
            <li><a class="medialink" target="_blank" href="https://www.facebook.com/alex.redano/">
                <img class="media" src="/assets/images/nav/facebook.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</section>
