<section>
  <footer class="footer0">
    <ul>
      <li><a href="#contato">
          <h5>Contato</h5>
        </a></li>
      <li><a href="#enquete">
          <h5>Enquete</h5>
        </a></li>
      <li><a href="#fala-cidadao">
          <h5>Fala Cidadão</h5>
        </a></li>
      <li><a href="#atuacao">
          <h5>Atuação</h5>
        </a></li>
      <li><a href="#biografia">
          <h5>Biografia</h5>
        </a></li>
      <li><a class="active" href="#home">
          <h5>Home</h5>
        </a></li>
      <li><img id="logo" src="/assets/images/logo.png"></li>
    </ul>
  </footer>
  <nav class="topnav">
    <ul>
      <li><a class="medialink" target="_blank" href="https://www.instagram.com/alex.redano/"><img class="media"
            src="/assets/images/nav/whatsapp.png"></a></li>
      <li><a class="medialink" target="_blank" href="https://www.instagram.com/alex.redano/"><img class="media"
            src="/assets/images/nav/instagram.png"></a></li>

      <li><a class="medialink" target="_blank" href="#"><img class="media" src="/assets/images/nav/twitter.png"></a>
      </li>
      <li><a class="medialink" target="_blank" href="https://www.facebook.com/alex.redano/">
          <i class="fa fa-facebook" aria-hidden="true">
          </i>
        </a>
      </li>
    </ul>
    <h5 class="rights">2020 Todos os direitos reservados | Desenvolvido por Polezite</h5>
  </nav>
</section>
