<section class="contato" id="contato">
	<div class="container-fluid">
		<div class="row">
			<div class="barra2"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xl-6 col-12">
				<h3 class="title-contato">CONTATO</h3>
				<p class="text-1"><i class="fas fa-phone"></i>(69) 3535-0000</p>
				<p class="text-1"><i class="fas fa-phone-square"></i>(69) 98404-6941 / 9977-2070</p>
				<p class="text-1"><i class="fas fa-envelope-open-text"></i>contato@alexredano.com.br</p>
			</div>
			<div class="col-sm-12 col-xl-6 col-12">
				<app-form-contato></app-form-contato>
			</div>
		</div>
	</div>
</section>
