<nav class="topnav">
  <ul>
    <div class="container">
      <li><a class="medialink" href="#"><img class="media" src="/assets/images/nav/whatsapp.png"></a></li>
      <li><a class="medialink" href="#"><img class="media" src="/assets/images/nav/instagram.png"></a></li>
      <li><a class="medialink" href="#"><img class="media" src="/assets/images/nav/twitter.png"></a></li>
      <li><a class="medialink" href="#" style="border: none;"><img class="media"
            src="/assets/images/nav/facebook.png"></a></li>
    </div>
  </ul>
</nav>
<div class="navdiv">
  <div class="container">
    <h1></h1>
  </div>
</div>
