<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar-mobile">
	<div class="col-6">
		<a class="navbar-brand" href="/">
			<img id="logo-mobile-nav" src="/assets/images/logo.png" />
		</a>
	</div>
	<button
		(click)="isMenuCollapsed = !isMenuCollapsed"
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNavAltMarkup"
		aria-controls="navbarNavAltMarkup"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown" [ngbCollapse]="isMenuCollapsed">
		<ul class="navbar-nav" id="links-header">
			<li class="nav-item">
				<a class="nav-link" (click)="isMenuCollapsed = true" href="#home">
					<h5>Home</h5>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="isMenuCollapsed = true" href="#biografia">
					<h5>Biografia</h5>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="isMenuCollapsed = true" href="#atuacao">
					<h5>Atuação</h5>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="isMenuCollapsed = true" href="#enquete">
					<h5>Enquete</h5>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="'fala-cidadao'" (click)="isMenuCollapsed = true">
					<h5>Fala Cidadão</h5>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="isMenuCollapsed = true" href="#contato">
					<h5>Contato</h5>
				</a>
			</li>
		</ul>
	</div>
</nav>
<nav class="topnav" id="nav-icons">
	<ul>
		<div class="container">
			<li *ngIf="api.site.redes_social.whatsapp">
				<a
					class="medialink"
					target="_blank"
					[href]="'https://api.whatsapp.com/send?phone=55' + api.site.redes_social.whatsapp"
					><img class="media" src="/assets/images/nav/whatsapp.png"
				/></a>
			</li>
			<li *ngIf="api.site.redes_social.instagram">
				<a class="medialink" target="_blank" [href]="api.site.redes_social.instagram"
					><img class="media" src="/assets/images/nav/instagram.png"
				/></a>
			</li>
			<li *ngIf="api.site.redes_social.twitter">
				<a class="medialink" target="_blank" [href]="api.site.redes_social.twitter"
					><img class="media" src="/assets/images/nav/twitter.png"
				/></a>
			</li>
			<li *ngIf="api.site.redes_social.facebook">
				<a class="medialink" target="_blank" [href]="api.site.redes_social.facebook" style="border: none;"
					><img class="media" src="/assets/images/nav/facebook.png"
				/></a>
			</li>
		</div>
	</ul>
</nav>
<div class="navdiv">
	<div class="container">
		<h1></h1>
	</div>
</div>
<section class="container-fluid" id="header-links">
	<div class="container">
		<div class="col-xl-12">
			<div class="row d-sm-inline-flex">
				<div class="col-sm-3 col-xl-3 col-6">
					<img id="logo" src="/assets/images/logo.png" />
				</div>
				<div class="col-sm-9 col-xl-9 col-6">
					<ul id="links-header">
						<li>
							<a href="#contato">
								<h5>Contato</h5>
							</a>
						</li>
						<li>
							<a href="#enquete">
								<h5>Enquete</h5>
							</a>
						</li>
						<li>
							<a [routerLink]="'fala-cidadao'">
								<h5>Fala Cidadão</h5>
							</a>
						</li>
						<li>
							<a href="#atuacao">
								<h5>Atuação</h5>
							</a>
						</li>
						<li>
							<a href="#biografia">
								<h5>Biografia</h5>
							</a>
						</li>
						<li>
							<a class="active" href="#home">
								<h5>Home</h5>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
