<nav class="topnav">
  <ul>
    <li><a class="medialink" href="#"><img class="media" src="images/nav/whatsapp.png"></a></li>
    <li><a class="medialink" href="#"><img class="media" src="images/nav/instagram.png"></a></li>
    <li><a class="medialink" href="#"><img class="media" src="images/nav/twitter.png"></a></li>
    <li><a class="medialink" href="#"><img class="media" src="images/nav/facebook.png"></a></li>
  </ul>
</nav>
<div class="navdiv">
  <h1></h1>
</div>
<nav class="topnav2">
  <ul>
    <li><a href="#contato">
        <h5>Contato</h5>
      </a></li>
    <li><a href="#enquete">
        <h5>Enquete</h5>
      </a></li>
    <li><a href="#fala-cidadao">
        <h5>Fala Cidadão</h5>
      </a></li>
    <li><a href="#atuacao">
        <h5>Atuação</h5>
      </a></li>
    <li><a href="#biografia">
        <h5>Biografia</h5>
      </a></li>
    <li><a class="active" href="#home">
        <h5>Home</h5>
      </a></li>
    <li><img id="logo" src="images/logo.png"></li>
  </ul>
</nav>
<section class="alex-main">
  <div class="container">

    <img class="redano10" src="images/redano10.png" alt="Alex Redano">
    <img class="redano-topo" src="images/alex-topo.png" alt="Alex Redano">

  </div>
</section>
<section class="biografia" id="biografia">
  <div class="container">

    <img class="familia" src="images/familia.png" alt="Família de Alex Redano">
    <h1>Biografia</h1>
    <p>&nbsp &nbsp Alex Redano é um homem simples <br>
      e trabalhador, como muitos outros<br>
      cidadãos que vivem, trabalham, e<br>
      muito amam está nossa Rondônia...<br>
      Alex Redano tem uma estatura moral,<br>
      ética e política que vem do berço...</p>
  </div>
  <img class="leia" src="images/leia-mais.png" alt="Leia Mais">
</section>
<section class="atuacao" id="atuacao">
  <div class="container" id="rows">
    <div class="row">
      <div class="col-md">
        <img src="images/emenda.png" class="rowimage" id="emenda">
        <img src="images/icone-emenda.png" class="rowicone1">
        <h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          EMENDAS</h2>
      </div>
      <div class="col-sm">
        <img src="images/projetos.png" class="rowimage">
        <img src="images/icone-projeto.png" class="rowicone2">
        <h2>PROJETOS DE LEI</h2>
      </div>
      <div class="col-sm">
        <img src="images/comissao.png" class="rowimage">
        <img src="images/icone-comissao.png" class="rowicone2">
        <h2>&nbsp&nbsp&nbsp
          COMISSÕES</h2>
      </div>
      <div class="col-md">
        <img src="images/noticias.png" class="rowimage1">
        <img src="images/icone-noticias.png" class="rowicone3">
        <h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          NOTÍCIAS</h2>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="containter">
    <div>
      <img src="images/podcasts.png" class="podcast" alt="Podcasts">
    </div>
    <div>
      <img src="images/notebook.png" class="notebook">
    </div>
  </div>
  <div class="barra1">
    <div class="container" id="logo-bar">
      <img src="images/barra/logo-spotify.png" class="logos" alt="">
      <img src="images/barra/logo-itunes.png" class="logos" alt="">
      <img src="images/barra/logo-soundcloud.png" class="logos" alt="">
      <img src="images/barra/logo-deezer.png" class="logos" alt="">
      <img src="images/barra/logo-youtube.png" class="logos" alt="">
    </div>
  </div>
  <div class="barra2"></div>
</section>
<section class="fala-cidadao">
  <div class="container">
    <div class="d-flex bd-highlight">
      <div class="p-2 w-100 bd-highlight">
        <img class="celular" src="images/celular.png">
      </div>
      <div class="p-2 flex-shrink-1 bd-highlight">
        <img class="icone-fala" src="images/icone-fala.png">
        <h3 class="header1">FALA CIDADÃO,</h3>
        <h3 class="header2">AQUI VOCÊ TEM VOZ!</h3>
        <p class="text1">&nbsp Vamos fazer um mandato participativo, transparente, aberto.<br>
          Você pode fazer uma reclamação, sugestão, solicitação, elogio,
          denúncia <br>
          além de solicitar agenda!</p>
      </div>
      <div class="p-2 flex-shrink-1 bd-highlight">
        <img class="clique" src="images/clique.png">
      </div>
    </div>
  </div>
</section>
<section class="grid-final">
  <div class="container" id="rows">
    <div class="row">
      <div class="col">
        <img src="images/placeholder.png" class="gridimage">
      </div>
      <div class="col">
        <img src="images/placeholder.png" class="gridimage">
      </div>
      <div class="col">
        <img src="images/placeholder3.png" class="gridimage">
      </div>
      <div class="col">
        <img src="images/placeholder.png" class="gridimage">
      </div>
    </div>
  </div>
</section>

<section class="contato">
  <div class="container">
    <h3>CONTATO</h3>
    <p>(69) 3535-0000</p>
    <p>(69) 98404-6941 / 9977-2070</p>
    <p>contato@alexredano.com.br</p>
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Cidade">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><img src="images/enviar.png"></button>
      </div>
    </form>
  </div>
</section>

<section>
  <footer class="footer0">
    <ul>
      <li><a href="#contato">
          <h5>Contato</h5>
        </a></li>
      <li><a href="#enquete">
          <h5>Enquete</h5>
        </a></li>
      <li><a href="#fala-cidadao">
          <h5>Fala Cidadão</h5>
        </a></li>
      <li><a href="#atuacao">
          <h5>Atuação</h5>
        </a></li>
      <li><a href="#biografia">
          <h5>Biografia</h5>
        </a></li>
      <li><a class="active" href="#home">
          <h5>Home</h5>
        </a></li>
      <li><img id="logo" src="images/logo.png"></li>
    </ul>
  </footer>
  <nav class="topnav">
    <ul>
      <li><a class="medialink" href="#"><img class="media" src="images/nav/whatsapp.png"></a></li>
      <li><a class="medialink" href="#"><img class="media" src="images/nav/twitter.png"></a></li>
      <li><a class="medialink" href="#"><img class="media" src="images/nav/facebook.png"></a></li>
    </ul>
    <h5 class="rights">2020 Todos os direitos reservados l Desenvolvido por Polezite</h5>
  </nav>
</section>