<ngx-loading-bar></ngx-loading-bar>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="my-overlay" *ngIf="api.loading_">
	<div class="">
		<div style="margin: 0 auto; padding: 25px; text-align: center; max-width: 450px;">
			<img id="logo-mobile-nav" src="/assets/images/logo.png" />
		</div>
		<div style="margin: 0 auto; padding: 25px; text-align: center; display: flex;">
			<div style="align-self: center; margin: 0 auto;">
				<mat-spinner color="primary"></mat-spinner>
			</div>
		</div>
	</div>
</div>
