<section id="fala-cidadao">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-4 col-xl-4 col-sm-12 col-12" id="">
				<p>
					<img id="fala-fundo-celular" class="fala-cidadao fundo-celular" src="/assets/images/icon/redano.png" />
				</p>
			</div>
			<div class="col-md-8 col-xl-7 col-sm-12 col-12">
				<div class="row align-items-center">
					<div class="col-sm-9 col-10">
						<h3 class="podemos-te-ajudar">Como podemos te ajudar?</h3>
					</div>
					<div class="col-sm-3 col-2">
						<img class="icone-fala" src="/assets/images/icone-fala.png" />
					</div>
				</div>

				<div class="row botoes-fala-cidadao">
					<div class="col-sm-4 col-6">
						<!-- <button type="button" name="" id="" class="btn btn-primary ck" (click)="openDialog(1)">
							<img class="icon-btn" src="/assets/images/icon/reclamacao.png" />Reclamação
            </button> -->
						<p style="cursor: pointer;">
							<img
								class="icon-btn"
								src="/assets/images/icon/btn-reclamacao.png"
								(click)="openDialog(1, 'Qual sua Reclamação')"
							/>
						</p>
					</div>
					<div class="col-sm-4 col-6">
						<!-- <button type="button" name="" id="" class="btn btn-primary ck" (click)="openDialog(2)">
            </button> -->
						<p style="cursor: pointer;">
							<img
								class="icon-btn"
								src="/assets/images/icon/btn-elogio.png"
								(click)="openDialog(2, 'Qual seu Elogio')"
							/>
						</p>
					</div>
					<div class="col-sm-4 col-6">
						<!-- <button type="button" name="" id="" class="btn btn-primary ck" (click)="openDialog(3)">
							<img class="icon-btn" src="/assets/images/icon/sugestao.png" />Sugestão
            </button> -->
						<p style="cursor: pointer;">
							<img
								class="icon-btn"
								src="/assets/images/icon/btn-sugestao.png"
								(click)="openDialog(3, 'Qual sua Sugestão')"
							/>
						</p>
					</div>
					<div class="col-sm-4 col-6">
						<!-- <button type="button" name="" id="" class="btn btn-primary ck" (click)="openDialog(4)">
							<img class="icon-btn" src="/assets/images/icon/denuncia.png" />Denuncia
            </button> -->
						<p style="cursor: pointer;">
							<img
								class="icon-btn"
								src="/assets/images/icon/btn-denuncia.png"
								(click)="openDialog(4, 'Qual sua Denúncia')"
							/>
						</p>
					</div>
					<div class="col-sm-4 col-6">
						<!-- <button type="button" name="" id="" class="btn btn-primary ck" (click)="openDialog(6)">
							<img class="icon-btn" src="/assets/images/icon/solicitacao.png" />Solicitação
            </button> -->
						<p style="cursor: pointer;">
							<img
								class="icon-btn"
								src="/assets/images/icon/btn-solicitacao.png"
								(click)="openDialog(6, 'Qual a sua Solicitação')"
							/>
						</p>
					</div>
					<div class="col-sm-4 col-6">
						<p style="cursor: pointer;">
							<img
								class="icon-btn"
								src="/assets/images/icon/btn-contato.png"
								(click)="openDialog(5, 'Sua mensagem de Contato')"
							/>
						</p>

						<!-- <button type="button" name="" id="" class="btn btn-primary ck" (click)="openDialog(5)">
							<img class="icon-btn" src="/assets/images/icon/contato.png" />Contato
						</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
