#fala-cidadao{
  min-height: 100vh;
  max-height: 800px;
  .botoes-fala-cidadao{
    button{
      max-width: 180px;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
