#fala-cidadao{
  // min-height: 500vh;
  height: 80vh;
  padding-top: 50px;
  max-height: 500px;
  .botoes-fala-cidadao{
    button{
      max-width: 180px;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
