/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Montserrat&family=Noto+Sans+JP&family=Open+Sans&display=swap");
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
	background: #000000;
}
::-webkit-scrollbar-track {
	background: #666666;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: #666666;
}
::-webkit-scrollbar-track:active {
	background: #333333;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

.topnav ul {
	list-style-type: none;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-right: auto;
	padding: 0;
	overflow: hidden;
	background-color: rgb(45, 7, 105);
	object-fit: cover;
	padding: 10px;
}
img {
	max-width: 100%;
}
.invalid-feedback-custom {
	font-size: 11px;
	color: red;
}

#navbar-mobile {
	display: none;
}

#logo {
	width: 100%;
	max-width: 350px;
	// margin-left: -525px;
	margin-top: 10px;
}
.topnav li {
	float: right;
}

.navdiv {
	background-color: rgb(255, 123, 0);
	padding: 8px 8px;
}
.topnav2 {
	margin-left: -50px;
}
#header-links {
	display: block;
	height: 120px;
}

.controle-background {
	background-image: url("/assets/images/fundo1.png");
	background-size: contain;
	background-position: unset;
	background-repeat: round;
	height: 100%;
	max-height: 854px;
	display: block;
	overflow: hidden;
	img.alex-topo {
		height: 98vh;
		max-height: 814px;
	}
}

#header-links #links-header {
	width: 100%;
	list-style-type: none;
	margin-top: 5px;
	padding: 10px;
	padding-right: 0;
	overflow: hidden;
	// background-color:;
	li {
		margin-top: 10px;
		float: right;
		a {
			display: block;
			color: #111;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			border-left: 1px solid #fff;
			line-height: 1.22;
		}
	}
}
h5.links-navbar {
	font-family: Arial;
	font-size: 25px;
	color: #111;
	font-weight: lighter;
	line-height: 1.22;
}
.text-biografia {
	font-size: 22px;
	line-height: 1.42;
	text-align: left;
}

.media {
	height: 25px;
	width: 25px;
	border-left: 3px wheat;
}

.alex-hash-mobile {
	display: none;
}

#nav-icons li,
footer li {
	float: right;
	a {
		display: block;
		color: #fff;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		border-left: 1px solid #fff;
		line-height: 1.22;
	}
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	// background-color: rgb(216, 210, 210, 0.6);
	// line-height: 1.22;
	// border-bottom: 1px solid  rgb(216, 210, 210, 0.6);
}

.body {
	background-color: aliceblue;
	height: 920px;
}
#alex-main .fundo1 {
	max-width: 100;
	max-height: auto;

	position: relative;
	object-fit: cover;
	margin-left: -500px;
}

.redano10 {
	position: absolute;
	margin-top: 200px;
	float: right;
	margin-left: 500px;
}
.redano-topo {
	position: absolute;
	margin-top: -40px;
	margin-left: -100px;
	width: 585px;
}
.biografia {
	overflow: hidden;
	h1 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 55px;
		font-weight: bold;
		color: rgb(45, 7, 105);
		line-height: 1.22;
	}
	p {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 25px;
		color: grey;
		line-height: 1.321;
	}
	.familia {
		overflow: hidden;
		line-height: 1.22;
	}
	.leia {
		margin-top: 50px;
		margin-bottom: 25px;
		background-color: rgb(45, 7, 105);
		color: #fff;
		padding: 7px 30px;
		border-radius: 15px;
		font-size: 30px;
		font-weight: 600;
		line-height: 1.22;
	}
}
#atuacao {
	background-color: rgb(60, 35, 109);
	text-align: center;
	.roxo {
		background-color: rgb(60, 35, 109);
	}
	.laranja {
		background-color: rgb(255, 123, 0);
	}
	.a-link-c {
		text-align: center;
	}
	.laranja,
	.roxo {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		align-self: center;
	}
	h2 {
		font-family: Helvetica;
		color: white;
		font-size: 20px;
	}

	.atuacoes {
		align-self: self-end;
		min-width: 250px;
		min-height: 250px;
		display: grid;
		align-items: self-end;

		margin: 0 auto;
		.logo-crt {
			margin: 0 auto;
			max-width: 75px;
			align-items: self-end;
		}
	}
}
#podcasts {
	overflow: hidden;
	padding: 20px;
}
.barra1 {
	background-color: rgb(255, 123, 0);
	padding: 65px;
	margin-right: 2%;
	border-radius: 00px 90px 90px 00px;
	margin-bottom: 5px;
}
.barra2 {
	padding: 35px;
	background-color: rgb(45, 7, 105);
	margin-left: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
	width: -webkit-fill-available;
	border-radius: 90px 00px 00px 90px;
}
.barra1 #logo-bar {
	margin-top: -5px;
}
.logos {
	padding-left: 50px;
	float: center;
	padding: 20px;
}
#fala-cidadao {
	#fundo-celular {
		background-image: url("/assets/images/fundo-celular.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		display: block;
		text-align: center;
		vertical-align: middle;
		margin: auto 0;
		padding-top: 30px;
	}
	.header1 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 60px;
		font-weight: 500;
		color: rgb(45, 7, 105);
		line-height: 1.22;
	}
	.header2 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 55px;
		font-weight: 500;
		color: rgb(255, 123, 0);
		line-height: 1.22;
	}
	.text1 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: black;
		line-height: 1.22;
	}

	.btn.clique-aqui {
		text-align: center;
		background-color: rgb(45, 7, 105);
		color: #fff;
		padding: 7px 10px;
		border-radius: 5px;
		font-size: 20px;
		font-weight: 400;
	}
}
#grid-final {
	background-color: rgb(60, 35, 109);

	.redes-socias-div {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		align-self: center;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.6;
		background-size: cover;
		background-blend-mode: multiply;

		min-height: 285px;
		float: left;
		text-align: center;
		a {
			text-align: center;
			margin: 0 auto;
			.gridimage {
				max-width: 100px;
				margin: 0 auto;
			}
		}
	}
	.facebook {
		background-color: #4c64eb;
	}
	.instagram {
		background-color: #e47143;
	}
	.twitter {
		background-color: #2a90f0;
	}
	.youtube {
		background-color: #dd2b2b;
	}
}
#contato {
	.title-contato {
		color: rgb(45, 7, 105);
		font-size: 30px;
		margin-bottom: 25px;
	}
	.text-1 {
		font-size: 20px;
	}
	.enviar {
		float: right;
		text-align: right;
		background-color: rgb(45, 7, 105);
		border-color: rgb(45, 7, 105);
		margin-bottom: 25px;
	}
}

@media only screen and (min-width: 1282px) {
	.controle-background {
		background-repeat: round;
	}
}
@media only screen and (max-width: 1281px) {
	.controle-background {
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		max-height: 600px;
		min-height: 600px;
		width: 100%;
		img.alex-topo {
			height: 96%;
			max-height: 564px;
		}
		img.alex-hash {
			max-height: 564px;
			max-width: 69%;
		}
	}
	#links-header {
		li a h5 {
			font-size: 20px;
		}
	}
	#atuacao {
		.atuacoes {
			min-width: auto;
			min-height: 200px;
			.logo-crt {
				max-width: 75px;
				max-height: 75px;
			}
    }
    .a-link-c {
			text-align: center;
		}
		.a-link-c {
			margin: 0 auto;
		}
	}
}
@media only screen and (max-width: 1024px) {
	#links-header {
		li a h5 {
			font-size: 18px;
		}
	}
	.biografia h1 {
		font-size: 30px;
	}
	.biografia p {
		font-size: 18px;
	}
	#atuacao {
		.atuacoes {
			min-width: auto;
			min-height: 200px;
			.logo-crt {
				max-width: 75px;
				max-height: 75px;
			}
    }
    .a-link-c {
			text-align: center;
		}
		.a-link-c {
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width: 991px) {
	.direitos {
		text-align: center;
	}
	.controle-background {
		background-repeat: no-repeat;
		background-image: url(/assets/images/fundo2.png);
		background-size: cover;
		background-position: top;
		background-origin: content-box;
		.alex-topo {
			display: none;
		}

		.alex-hash {
			display: none;
		}
		.alex-hash-mobile {
			display: block;
			padding-right: 10vw;
			padding-left: 50vw;
			align-self: center;
		}
		.altura-10 {
			min-height: 450px;
		}
		.alex-top-span-mobile {
			height: 93%;
			max-height: 514px;
			min-height: 450px;
			width: -webkit-fill-available;
			margin: auto;
		}
	}
	#fala-cidadao #fundo-celular {
		display: none;
	}
	#atuacao {
		.atuacoes {
			min-width: auto;
			min-height: 200px;
			.logo-crt {
				max-width: 75px;
				max-height: 75px;
			}
		}
		.a-link-c {
			text-align: center;
		}
		.a-link-c {
			margin: 0 auto;
		}
	}
}
@media only screen and (max-width: 600px) {
	#fala-fundo-celular,
	#header-links {
		display: none;
	}
	#fala-cidadao {
		h3.podemos-te-ajudar {
			margin-bottom: 20px;
			font-size: 25px !important;
		}
		img.icone-fala {
			margin-bottom: 20px;
		}
	}
	#navbar-mobile {
		display: flex;
	}
	#nav-icons {
		padding-top: 116px;
	}
	#logo-mobile-nav {
		max-height: 70px;

		margin: 10px;
	}
	.media {
		height: 15px;
		width: 15px;
	}
	.titulo-h1 {
		align-self: center;
		text-align: center;
		padding-top: 20px;
	}
	.bibli-p {
		align-self: center;
		text-align: center;
	}
	.biografia .leia {
		font-size: 20px;
	}
	.controle-background {
		max-height: 264px;
		min-height: 250px;
		.altura-10 {
			min-height: 250px;
		}
	}
	#biografia {
		.titulo-h1,
		.bibli-p,
		.btn-leis-mais {
			margin-left: 10px;
		}
	}
	#fala-cidadao {
		#fundo-celular {
			display: none;
		}
		.header1 {
			font-size: 25px;
		}
		.header2 {
			font-size: 24px;
		}
		img.icone-fala {
			max-width: 50px;
		}
		.text1 {
			font-size: 18px;
		}
	}
	.barra1 {
		padding: 25px;
		.logos {
			padding: 7px;
		}
	}
	#atuacao {
		.atuacoes {
			min-width: auto;
			min-height: 150px;
			.logo-crt {
				max-width: 50px;
				max-height: 50px;
			}
		}
	}
	#grid-final .redes-socias-div {
		min-height: 200px;
	}

	.alex-top-span-mobile {
		height: 93%;
		max-height: 264px;
		min-height: 250px;
		width: -webkit-fill-available;
		margin: auto;
	}
}
@media only screen and (max-width: 400px) {
	#nav-icons {
		padding-top: 98px;
	}
}

/* Importing Bootstrap SCSS file. */
