<section id="home" class="controle-background">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-sm-6">
        <span style="height: 100vh; max-height: 854px; display: block;">&nbsp;</span>
      </div>
      <div class="col-xl-6 col-sm-6">
        <img class="alex-hash" src="/assets/images/redano10.png" alt="Alex Redano">
      </div>
    </div>
  </div>
</section>
<section class="biografia" id="biografia">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-xl-5 col-sm-5">
        <div class="row">
          <h1>Biografia</h1>
          <p>Alex Redano é um homem simples <br>
            e trabalhador, como muitos outros<br>
            cidadãos que vivem, trabalham, e<br>
            muito amam está nossa Rondônia...<br>
            Alex Redano tem uma estatura moral,<br>
            ética e política que vem do berço...</p>
        </div>
        <div class="row align-items-center">
          <!-- <img class="leia" src="/assets/images/leia-mais.png" alt="Leia Mais"> -->
          <button class="btn leia">Leia Mais >></button>
        </div>
      </div>
      <div class="col-xl-7 col-sm-7">
        <img class="familia" src="/assets/images/familia.png" alt="Família de Alex Redano">
      </div>
    </div>
  </div>
</section>
<section id="atuacao">
  <div class="container-fluid">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6 col-xl-3 roxo">
          <div class="atuacoes">
            <img src="/assets/images/icone-emenda.png" class="logo-crt">
            <h2>EMENDAS</h2>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 laranja">
          <div class="atuacoes">
            <img src="/assets/images/icone-projeto.png" class="logo-crt">
            <h2>PROJETOS DE LEI</h2>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 roxo">
          <div class="atuacoes">
            <img src="/assets/images/icone-comissao.png" class="logo-crt">
            <h2>COMISSÕES</h2>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 laranja">
          <div class="atuacoes">
            <img src="/assets/images/icone-noticias.png" class="logo-crt">
            <h2>NOTÍCIAS</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="podcasts">
  <div class="container-fluid">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-4 col-xl-5">
          <img src="/assets/images/podcasts.png" class="" alt="Podcasts">
        </div>
        <div class="col-sm-8 col-xl-7">
          <img src="/assets/images/notebook.png" class="">
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="barra1">
    <div class="container" id="logo-bar">
      <div class="row align-items-center">
        <div class="col-sm-4 col-xl-2">
          <img src="/assets/images/barra/logo-spotify.png" class="logos" alt="">
        </div>
        <div class="col-sm-4 col-xl-2">
          <img src="/assets/images/barra/logo-itunes.png" class="logos" alt="">
        </div>
        <div class="col-sm-4 col-xl-2">
          <img src="/assets/images/barra/logo-soundcloud.png" class="logos" alt="">
        </div>
        <div class="col-sm-4 col-xl-2">
          <img src="/assets/images/barra/logo-deezer.png" class="logos" alt="">
        </div>
        <div class="col-sm-4 col-xl-2">
          <img src="/assets/images/barra/logo-youtube.png" class="logos" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="barra2"></div>
</section>
<section id="fala-cidadao">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4 col-xl-4" id="fundo-celular">
        <img class="fundo-celular" src="/assets/images/celular.png">
      </div>
      <div class="col-sm-8 col-xl-7">
        <div class="row align-items-end">
          <div class="col-sm-9">
            <h3 class="header1"><b>FALA</b> CIDADÃO,</h3>
          </div>
          <div class="col-sm-3">
            <img class="icone-fala" src="/assets/images/icone-fala.png">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3 class="header2">AQUI VOCÊ TEM VOZ!</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text1">Vamos fazer um mandato participativo, transparente, aberto.<br>
              Você pode fazer uma reclamação, sugestão, solicitação, elogio,
              denúncia além de solicitar agenda!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 50px;">
      <button class="btn clique-aqui">CLIQUE AQUI</button>
    </div>
  </div>
</section>
<section id="grid-final">
  <div class="container" id="rows-redes">
    <div class="row redes-sociais">
      <div class="col-sm-6 col-xl-3 redes-socias-div facebook">
        <img src="/assets/images/nav/facebook.png" class="gridimage">
      </div>
      <div class="col-sm-6 col-xl-3 redes-socias-div twitter">
        <img src="/assets/images/nav/twitter.png" class="gridimage">
      </div>
      <div class="col-sm-6 col-xl-3 redes-socias-div instagram">
        <img src="/assets/images/nav/instagram.png" class="gridimage">
      </div>
      <div class="col-sm-6 col-xl-3 redes-socias-div youtube">
        <img src="/assets/images/nav/youtube.png" class="gridimage">
      </div>
    </div>
  </div>
</section>


<section class="contato" id="contato">

  <div class="container-fluid">
    <div class="row">
      <div class="barra2"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xl-6">
        <h3 class="title-contato">CONTATO</h3>
        <p class="text-1"><i class="fas fa-phone"></i>(69) 3535-0000</p>
        <p  class="text-1"><i class="fas fa-phone-square"></i>(69) 98404-6941 / 9977-2070</p>
        <p  class="text-1"><i class="fas fa-envelope-open-text"></i>contato@alexredano.com.br</p>
      </div>
      <div class="col-sm-6 col-xl-6">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nome</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Cidade</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Cidade">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Mensagem</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensagem"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary enviar">ENVIAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
